@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: rgba(246, 248, 250, 1);
  top: 271px;
  left: 22px;
  width: 100%;
  gap: 0px;
  opacity: 0px;
}
